<div data-ng-controller="contactCtr">
    <form name="formContact" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">prénom nom</label>
            <div class="col-sm-10">
                <input ng-model="name" id="name"class="form-control"  placeholder="prénom nom" type="text" ng-model-options="{ updateOn: 'blur' }" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="raison">société</label>
            <div class="col-sm-10">
                <input ng-model="raison" class="form-control" placeholder="société"  id="raison" type="text" ng-model-options="{ updateOn: 'blur' }" />
            </div>
        </div>
        <div class="form-group" ng-class="{'form-group has-success has-feedback': email && !formContact.email.$error.email, 'form-group has-error has-feedback' : formContact.email.$error.email}">
            <label class="control-label col-sm-2"  for="email">émail</label>
            <div class="col-sm-10">
                <input ng-model="email" class="form-control" id="email" name="email" placeholder="" type="email" ng-model-options="{ updateOn: 'blur' }" email>
                <span ng-show="formContact.email.$error.email" class="glyphicon glyphicon-remove form-control-feedback"></span>
                <span ng-show="email && formContact.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="message">message</label>
            <div class="col-sm-10">
                <textarea maxlength="500" ng-model="message" placeholder="...500 caractères max"  id="message" class="form-control" ng-model-options="{ updateOn: 'blur' }"></textarea>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" ng-click="submit()">valider</button>
        </div>

        <div class="col-sm-4"></div>

        <div class="col-sm-4"></div>

    </form>
</div>
